<section class="vh-100 w-100 bg-dark d-flex align-items-center justify-content-center">
  <div class="container p-5 text-light">
    <h1 class="mb-5">Hola! administrador <i class="fa-solid fa-lock"></i></h1>
    <div class="card bg-light text-dark vh-80 mt-5" style="border-radius: 1rem;">
      <div class="card-body px-4 py-2px-md-5">

        <h2 class="mb-4">Manager</h2>
        <div>
          <button class="btn btn-success w-100 mb-4">Usuarios</button>
        </div>
        <div class="w-100">
          <button class="btn btn-success w-100 mb-4">Servidores</button>
        </div>
        <div class="w-100">
          <button class="btn btn-success w-100 mb-4">Dominios</button>
        </div>
        <div class="w-100">
          <button class="btn btn-success w-100 mb-4">Redes Sociales</button>
        </div>
        
      </div>
    </div>
  </div>
</section>
